"Bookmark Manager!"

<ul id='bookmark_list'>
  <% @bookmarks.each do |bookmark| %>
    <li> <a class='bookmark' href='<%= bookmark.url %>'><%= bookmark.title %></a>
      <form action='/remove' method ='post'>
        <button name='removal_link' type='submit' value='<%= bookmark.id %>'>Remove <%= bookmark.title %></button>
        <input type='hidden' name = '_method' value = 'DELETE'/>
      </form>
      <form action='/update' method ='post'>
        <button name='update_link' type='submit' value='<%= bookmark.id %>'>Update <%= bookmark.title %></button>
      </form>
    </li>
    <% end %>

  <div>
    <form action='/bookmark' method='post'>
      New Bookmark title: <input type='text' name='title'>
      New Bookmark URL: <input type='url' name='url'>
      <input type='submit' value='Submit'>
    </form>
  </div>
  </ul>
